.PollMe_container {
    width: 100%;
    min-height: 100vh;
}


#overlay{
    background: rgb(10, 100, 100,0.8);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    gap: 50px;
}

#logo{
    width: 30%;
    margin-top: 50px;
}

#overlay > div:nth-child(2){
    width: 40%;
    background-color: rgb(230, 239, 239);
    border-radius: 70px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#overlay form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
#overlay form > div{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}

#overlay h2{
    font-weight: Bold;
    text-align: center;
    font-size: 35px;
}


.form_group > label{
    font-size: 22px;
    text-align: left;
}

.form_group > input{
    background-color: #D9D9D9;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
    border-radius: 15px;
    border: transparent;
}

.buttonsGroup{
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    /* flex-wrap: wrap; */
}


/* Phone */
@media (max-width: 1024px){
    
    #overlay > div{
        width: 60%;
    }

    #overlay form > div{
        width: 100%;
    }
    .form_group > label{
        font-size: 20px;
    }
    #overlay > div:nth-child(2){
        width: 70%;
    }
    

    .form_group > input{
        font-size: 15px;
        padding: 10px;
        border-radius: 15px;
    }

    .buttonsGroup{
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* flex-wrap: wrap; */
    }

    
    #logo{
        width: 50%;
    }

}

