#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.alertDanger{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: center;
}

.alertInfo{
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}


.btn_DeepTale{
  background-color: rgb(10, 100, 100);
  color: rgba(255, 255, 255,0.8);
  height: 50px;
  border-radius: 25px;
  transition: 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

.btn_DeepTale:hover{
  background-color: #D9D9D9;
  color: black;
  border-color: #D9D9D9;
  transform: scale(1.05); /* Slightly enlarges the card */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
}

.btn_MutedCyan{
  background-color: #0a8c8c;
  color: rgba(255, 255, 255,0.8);
  height: 50px;
  border-radius: 25px;
  transition: 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

.btn_MutedCyan:hover{
  background-color: #D9D9D9;
  color: black;
  border-color: #D9D9D9;
  transform: scale(1.05); /* Slightly enlarges the card */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
}

.btn_Red{
  background-color: #fa5959;
  color: rgba(255, 255, 255,0.8);
  height: 50px;
  border-radius: 25px;
  transition: 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}

.btn_Red:hover{
  background-color: #D9D9D9;
  color: black;
  border-color: #D9D9D9;
  transform: scale(1.05); /* Slightly enlarges the card */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
}

  
/* Responsive Design */
@media (max-width: 1024px) {
  .btn_Red{
    border-radius: 15px;
    padding: 0 20px;
  }
  .btn_MutedCyan{
    border-radius: 15px;
    padding: 0 20px;
  }
  .btn_DeepTale{
    border-radius: 15px;
    padding: 0 20px;
  }
}
  




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
